﻿
@{
    ViewData["Title"] = "GetData";
    string[] propNames = (string[])ViewData["Props"];
    List<Person> people = (List<Person>)ViewData["People"];
}

<h2>People Data</h2>
<table>
    <tr>
        @foreach(var propName in propNames)
        {
            <td>@propName</td>
        }
    </tr>
    @foreach (var person in people)
    {
    <tr>
        @foreach (var propName in propNames)
        {
            @if (propName != "picture")
            {
                <td>@person.GetType().GetProperty(propName).GetValue(person)  </td>

            }
            else
            {
                <td><img src=@person.GetType().GetProperty(propName).GetValue(person) /></td>
            }
        }
    </tr>
    }
</table>

