﻿
@{
    ViewData["Title"] = "Index";
    string[] propNames = (string[])ViewData["Props"];
    Dictionary<string, Person> people = (Dictionary<string, Person>)ViewData["People"];
}

<h2>People Data</h2>
<table>
    <tr>
        @foreach (var propName in propNames)
        {
            <td>@propName</td>
        }
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var person in people)
    {
    <tr>
        @foreach (var propName in propNames)
        {
            @if (propName != "picture")
            {
                <td>@person.GetType().GetProperty(propName).GetValue(person)  </td>

            }
            else
            {
                <td><img src=@person.GetType().GetProperty(propName).GetValue(person) /></td>
            }
        }
         <td><a>Details</a></td>
        <td><a>Delete</a></td>
        <td><a>Edit</a></td>

    </tr>
    }
</table>

